<h1>
  <%= @article.title %>
  <%= link_to '🖊', edit_article_path(@article) %>
  <%= link_to '🗑', article_path(@article), method: :delete %>
</h1>

<p class=" mt-5 text-lg "><%=@article.content %></p>